@model stronglyTyped_PartialView_16.Models.Product; //we must have to bind the model 

<div class="card" style="width: 18rem;">
    <img src="@(Model.Image)" asp-append-version="true" height="150" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@(Model.Name)</h5>
        <p class="card-text">@(Model.Description)</p>
        <p class="card-text">@(Model.Price)</p>
        <a href="#" class="btn btn-primary">View More</a>
    </div>
</div>