
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h2>@ViewData["VData1"]</h2>
<h2>@ViewBag.ViewBag</h2>
<h2>@TempData["TempData"]</h2>
<h2>Array in TempData:</h2>


@{
    foreach (var items in (string[])TempData["TempArray"])
    {
        <h4>@items</h4>
    }
}
