@model _05_JWT_frontend.Models.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow-lg p-4 mt-5">
            <h2 class="card-title text-center text-primary mb-4">API Login (JWT Client)</h2>
            <form asp-controller="Auth" asp-action="Login" method="post">
              
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <div class="mb-3">
                    <label asp-for="UserName" class="form-label">Username</label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <div class="mb-4">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-lg">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>
