@* cshtml is extension of our view *@
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h3>View from Home Controller.</h3>

@*try to change the url in browser like: https://localhost:7272/Home/About to https://localhost:7272/Home/Index to https://localhost:7272/User/Index*@