@model InvoiceProject_Using_PartialView.Models.Customer

@{
    ViewData["Title"] = "CreateCustomer";
}

<h1>CreateCustomer</h1>
<hr />
<div class="row ">
    <form asp-action="CreateCustomer" class="col-md-8 mx-auto">
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CustomerName" class="control-label">Customer Name</label>
                    <input asp-for="CustomerName" class="form-control" placeholder="Customer Name" />
                    <span asp-validation-for="CustomerName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CustomerAddress" class="control-label">Customer Address</label>
                    <input asp-for="CustomerAddress" class="form-control" placeholder="Customer Address" />
                    <span asp-validation-for="CustomerAddress" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PhoneNumber" class="control-label">Phone Number</label>
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PurchaseDate" class="control-label">Purchase Date</label>
                    <input asp-for="PurchaseDate" type="text" id="PickDate" class="form-control" placeholder="yyyy-mm-dd" />
                    <span asp-validation-for="PurchaseDate" class="text-danger"></span>
                </div>
            </div>
        </div>

    </form>
</div>
@* <br />
<div class="row">
    <div class="col-md-12 mx-auto">
        <table class="table table-bordered border border-secondary text-center align-middle">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Product Qunatity</th>
                    <th>Product Price</th>
                    <th>Total Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="px-3">
                        <input type="text" id="PName" class="form-control text-center border border-secondary" />
                    </td>
                    <td>
                        <input type="text" id="PQunatity" class="form-control text-center border border-secondary" />
                    </td>
                    <td>
                        <input type="text" id="PPrice" class="form-control text-center border border-secondary" />
                    </td>
                    <td>
                        <input type="text" id="PTotal" readonly class="form-control text-center border border-secondary" />
                    </td>
                    <td>
                        <button style="white-space:nowrap" class="btn btn-success w-100 p-1" id="addRow"><i class="ri-add-large-line"></i> Add</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12 mx-auto">
        <table class="table table-bordered text-center border border-secondary align-middle ">
            <tbody id="ShowTotalProduct">
            </tbody>
        </table>
    </div>
</div> *@

@* partialView *@
<partial name="_PartialView"></partial>
@* @await Html.PartialAsync("_PartialView", Model) *@

<div class="d-flex gap-2">
    <div class="form-group">
        <input type="submit" id="saveCustomer" value="Create" class="btn btn-primary" />
    </div>
    <div>
        <a asp-action="Index" class="btn btn-warning">Back to List</a>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function(){
            $("#PickDate").datepicker({
                dateFormat: "yy-mm-dd"
            });

            //validaion for input fields
            $("#PPrice").on("input",function(){
                let EntereText = $(this).val().replace(/[^0-9.]/g, '');

                const parts = EntereText.split('.');
                if(parts.length > 2){
                    EntereText = parts[0] + '.' + parts[1];
                }
                $(this).val(EntereText);
            });

            $("#PQunatity").on("input",function(){
                let EntereText = $(this).val().replace(/[^0-9]/g, '');
                $(this).val(EntereText);
            });

            //auto set totalAmt
            $("#PQunatity , #PPrice").on("input", function(){
                let Quntity = $("#PQunatity").val();
                let Price = $("#PPrice").val();
                let TotalAmt = Quntity * Price;
                $("#PTotal").val(TotalAmt.toFixed(4));
            });


            //addRow:
            var Products = [];
            $("#addRow").on("click",function(e){
                // debugger;
                e.preventDefault();
                var subProduct = { // key name must same as the model property name
                    ProductQuantity : $("#PQunatity").val(),
                    ProductPrice : $("#PPrice").val(),
                    ProductName : $("#PName").val(),
                    TotalAmount : $("#PTotal").val()
                }
                //if any of below field will null or empty then it will not push the subproduct
                if(subProduct.ProductQuantity && subProduct.ProductPrice && subProduct.ProductName){
                    Products.push(subProduct);
                    renderTable();
                    $("#PQunatity,#PPrice,#PName,#PTotal").val("");
                }
                else{
                     alert("Please fill the valid product details.");
                }
            });

            function renderTable()
            {
               // debugger
               $("#ShowTotalProduct").empty();
               Products.forEach(function(item, index){
                   let Row = `
                         <tr>
                            <td>${item.ProductName}</td>
                            <td>${item.ProductQuantity}</td>
                            <td>${item.ProductPrice}</td>
                            <td style="width: 135px">${item.TotalAmount}</td>
                            <td style="width: 120px">
                                <button class="btn btn-danger DeleteRecord" data-index="${index}">Delete</button>
                            </td>
                       </tr>
                   `;
                    $("#ShowTotalProduct").append(Row);
               });
            }
            //delete row
            $(document).on("click",".DeleteRecord",function(){
                //debugger;
                let index = $(this).data("index");  //note that how to get index
                Products.splice(index,1);
                renderTable();
            })

            $(document).on("click","#saveCustomer",function(){
                // debugger

                let customer = { //key name must same as the model property name
                    CustomerName: $("#CustomerName").val(),  
                    CustomerAddress: $("#CustomerAddress").val(),
                    PhoneNumber: $("#PhoneNumber").val(),
                    PurchaseDate: $("#PickDate").val(),
                    Products: Products
                }

                console.log($("#PickDate").val());

                $.ajax({
                    url: '/Invoice/CreateCustomer',
                    type: 'POST',
                    contentType : 'application/json; charset=utf-8',
                    data: JSON.stringify(customer),
                    success: function(response){
                        // debugger
                        if(response && response.success){
                            window.location.href = "/Invoice/Index";
                        }
                        else{
                             alert("Error: " + (response && response.message ? response.message : "Save failed"));
                        }
                    },
                    error: function(xhr, status, err) {
                        alert("An error occurred: " + err);
                    }
                });
            });
        });
    </script>

}
