<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
   <header style="padding:20px; background-color:dodgerblue; color:white; margin-bottom: 20px">This is a Header.</header>
        @RenderBody()
    <footer style="padding:20px; background-color:forestgreen; color:white; margin-top: 20px">This is a footer.</footer>
</body>
</html>
