@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Want to Adopt a Pet?</h1>
    <p>See Pets <a asp-controller="Pet" asp-action="PetIndex">Ready to Get Adopted</a>.</p>
</div>
